dist/
node_modules/
**psd/
.DS_Store
Thumbs.db
.idea
.sass-cache
bower_components
.bowerrc
gulpfile.js
.csscomb.json
*.sublime*
*.log
*.sql
*.sqlite
*.psd
*.ai
*.pdf
css/*.css
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.todo
*.todolist
*.tasks
*.taskpaper
